div:nth-child(1) {
  border: 2px solid red;
}
div:nth-child(2) {
  border: 2px solid yellow;
}
div:nth-child(3) {
  border: 2px solid green;
}
div:nth-child(4) {
  border: 2px solid orange;
}
div:nth-child(5) {
  border: 2px solid purple;
}
div:nth-child(6) {
  border: 2px solid pink;
}
div:nth-child(7) {
  border: 2px solid brown;
}
div:nth-child(8) {
  border: 2px solid teal;
}
div:nth-child(9) {
  border: 2px solid cyan;
}